language: node_js
node_js:
  - "9"

sudo: required
addons:
  chrome: stable

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - yarn global add @angular/cli

script:
  - ng test
  - ng e2e
  - ng build -prod --base-href /pfe-transmission-angular-client/

deploy:
  provider: pages
  skip_cleanup: true
  local_dir: dist
  github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
  on:
    branch: master