<nav class="navbar navbar-light bg-faded">
    <form class="form-inline" novalidate>
        <input class="form-control mr-sm-2" type="text" placeholder="Link" [(ngModel)]="url" [ngModelOptions]="{standalone: true}">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="addByUrl();">Add</button>
    </form>
</nav>
<div *ngFor="let torrent of torrents" class="card">
  <div class="card-header">
    {{torrent.name}}
  </div>
  <div class="card-body">
      <ngb-progressbar showValue="true" type="success" [value]="(torrent.percentDone*100).toFixed(2)"></ngb-progressbar>
  </div>
</div>