<nav class="navbar navbar-light" style="background-color: gainsboro">
    <a class="navbar-brand">Transmission</a>
    <form class="form-inline" novalidate>
        <input class="form-control mr-sm-2" type="text" placeholder="Link" [(ngModel)]="url"
               [ngModelOptions]="{standalone: true}">
        <button class="btn btn-outline-primary my-2 my-sm-0" (click)="addByUrl();">Add</button>
    </form>
    <button class="btn btn-outline-primary my-2 my-sm-0" ngFilePicker (filePick)="addFile($event);">Browse</button>
</nav>

<div class="container main text-center">
    <div class="jumbotron">
        <div class="col-md-2 offset-md-5" *ngIf="!torrents">
            Fetching torrents list...<br/>
            <mat-spinner></mat-spinner>
        </div>
        <div *ngFor="let torrent of torrents" class="card">
            <div class="card-header">
                {{torrent.name}}
                <button class="btn btn-outline-danger btn-sm float-right" (click)="removeTorrent(torrent)">
                    <mat-icon color="red">delete</mat-icon>
                </button>
            </div>
            <div class="card-body">
                <ngb-progressbar showValue="true" type="success"
                                 [value]="(torrent.percentDone*100).toFixed(2)"></ngb-progressbar>
            </div>
        </div>
    </div>
</div>